---
layout: default
---

<div class="menu menu-play">
<button class="button" onclick="play({{ page.pieceno }})">PLAY</button>
<button class="button" onclick="pause()">PAUSE</button>
<button class="button" id="stop" onclick="stop()" disabled="1">STOP</button>
</div>

<div class="video">
<video src="/assets/video/{{ page.pieceno }}.mp4">
</div>

<div class="headings">
<h2 id="current">{{ page.piece }}</h2>
</div>
<div class="subheadings">
<h6 id="timecode"></h6>
</div>

<table class="concerthall">
<tr><td class="row">F</td><td><div id="F01" class="subject"></div></td><td><div id="F02" class="subject"></div></td><td><div id="F03" class="subject"></div></td><td><div id="F04" class="subject"></div></td><td>     </td><td><div id="F05" class="subject"></div></td><td><div id="F06" class="subject"></div></td><td><div id="F07" class="subject"></div></td><td>                                    </td><td>                                    </td><td>                                    </td><td>                                    </td><td>                                    </td></tr>
<tr><td class="row">E</td><td><div id="E01" class="subject"></div></td><td><div id="E02" class="subject"></div></td><td><div id="E03" class="subject"></div></td><td><div id="E04" class="subject"></div></td><td>     </td><td><div id="E05" class="subject"></div></td><td><div id="E06" class="subject"></div></td><td><div id="E07" class="subject"></div></td><td><div id="E08" class="subject"></div></td><td><div id="E09" class="subject"></div></td><td><div id="E10" class="subject"></div></td><td><div id="E11" class="subject"></div></td><td><div id="E12" class="subject"></div></td></tr>
<tr><td class="row">D</td><td><div id="D01" class="subject"></div></td><td><div id="D02" class="subject"></div></td><td><div id="D03" class="subject"></div></td><td><div id="D04" class="subject"></div></td><td>     </td><td><div id="D05" class="subject"></div></td><td><div id="D06" class="subject"></div></td><td><div id="D07" class="subject"></div></td><td><div id="D08" class="subject"></div></td><td><div id="D09" class="subject"></div></td><td><div id="D10" class="subject"></div></td><td><div id="D11" class="subject"></div></td><td><div id="D12" class="subject"></div></td></tr>
<tr><td class="row">C</td><td><div id="C01" class="subject"></div></td><td><div id="C02" class="subject"></div></td><td><div id="C03" class="subject"></div></td><td><div id="C04" class="subject"></div></td><td>     </td><td><div id="C05" class="subject"></div></td><td><div id="C06" class="subject"></div></td><td><div id="C07" class="subject"></div></td><td><div id="C08" class="subject"></div></td><td><div id="C09" class="subject"></div></td><td><div id="C10" class="subject"></div></td><td><div id="C11" class="subject"></div></td><td><div id="C12" class="subject"></div></td></tr>
<tr><td class="row">B</td><td><div id="B01" class="subject"></div></td><td><div id="B02" class="subject"></div></td><td><div id="B03" class="subject"></div></td><td><div id="B04" class="subject"></div></td><td>     </td><td><div id="B05" class="subject"></div></td><td><div id="B06" class="subject"></div></td><td><div id="B07" class="subject"></div></td><td><div id="B08" class="subject"></div></td><td><div id="B09" class="subject"></div></td><td><div id="B10" class="subject"></div></td><td><div id="B11" class="subject"></div></td><td><div id="B12" class="subject"></div></td></tr>
<tr><td class="row">A</td><td>                                    </td><td>                                    </td><td>                                    </td><td>                                    </td><td>     </td><td>                                    </td><td><div id="A06" class="subject"></div></td><td><div id="A07" class="subject"></div></td><td><div id="A08" class="subject"></div></td><td><div id="A09" class="subject"></div></td><td>                                    </td><td>                                    </td><td>                                    </td></tr>
</table>

</body>
</html>

